<table id="MajorSponsors" width="300" height="250" border="0" cellpadding="0" cellspacing="0" style="border: 0px solid #000000">
	<tr>
		<td>
			<img src="{{ 'major-sponsors/spacer.png' | asset_path }}" width="300" height="17" alt="" /></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.umpquabank.com/">
				<img src="{{ 'major-sponsors/umpqua.png' | asset_path }}" width="300" height="63" border="0" alt="Umpqua Bank" /></a></td>
	</tr>
	<tr>
		<td>
			<img src="{{ 'major-sponsors/spacer.png' | asset_path }}" width="300" height="9" alt="" /></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.11thhourproject.org/">
				<img src="{{ 'major-sponsors/11thhourproject.png' | asset_path }}" width="300" height="76" border="0" alt="11th Hour Project" /></a></td>
	</tr>
	<tr>
		<td>
			<img src="{{ 'major-sponsors/spacer.png' | asset_path }}" width="300" height="6" alt="" /></td>
	</tr>
	<tr>
		<td>
			<a href="http://adobe.com/">
				<img src="{{ 'major-sponsors/adobe.png' | asset_path }}" width="300" height="78" border="0" alt="Adobe" /></a></td>
	</tr>
	<tr>
		<td>
			<img src="{{ 'major-sponsors/spacer.png' | asset_path }}" width="300" height="1" alt="" /></td>
	</tr>
</table>