<div class="col-sm-4">
  <div class="sidebar">
    {% include sponsor_sidebar1.html %}

    {% include social.html %}

    {% include sponsor_sidebar2.html %}

    <!-- <div class="related-content">
      <h3>Related Content</h3>
      {% for post in site.related_posts limit:5 %}
        <div class="related-post">
          <div class="row">

            <div class="col-md-4">
              <a href='{{ post.url }}'>
                <div class='related-thumb'><img width="110" height="50" src="{{ post.relatedthumb }}"></div>
              </a>
            </div>

            <div class="col-md-8">
              <div class='related-content'>
                <div class='related-category {{ post.categories }}'></div>
                <div class="related-title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div> -->
  </div>
</div>
