\---
layout: layout
\---

.row
  .col-md-8
    .singleton
      {% if page.video %}
      .video
        <iframe src="{{ page.video }}" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% else %}
      .image
        %img{src: "{{ page.image }}"}/
      {% endif %}

      {% include share_this.html %}

      %h1.title {{ page.title}}
      .content
        {{ page.content}}

  {% include sidebar.html %}
