---
layout: layout
title: About Us
---

%h1 About Us

.row
  .col-md-6
    %h3 What is the Disposable Film Festival?

    %p The Disposable Film Festival was created in 2007 to celebrate the artistic potential of a new mode of filmmaking.

    %p Selected by MovieMaker Magazine as one the world&#8217;s &#8220;coolest film festivals,&#8221; the Disposable Film Festival was created in 2007 by Carlton Evans and <a href="http://ericslatkin.com" target="_blank">Eric Slatkin</a> to celebrate the democratization of cinema made possible by low cost video technology: everyday equipment like mobile phones, pocket cameras, DSLRs and other inexpensive devices. Through screenings, workshops, competitions, panels, and other events intended to educate and inspire, the Disposable Film Festival promotes experimentation and helps build the track record needed for a new generation of filmmakers to enter and change the industry. Disposable kicks off in San Francisco every March before traveling to cities around the world. Check out our <a href="http://disposablefilmfest.com/events/" target="_blank">events</a> page to find out when we'll be in a city near you.</p>

    %p We want your Disposable Films. So shoot 'em, cut 'em, and <a href="/submit/">send 'em in</a>.</p>

    <img src="/images/dff_device_icons.png" width="373" height="69" alt="Device Icons" />

    %p Check out <a href="http://en.wikipedia.org/wiki/Disposable_Film_Festival" target="_blank">Disposable Film Festival on Wikipedia. </a>

  .col-md-6
    %h3 Festival Photos

    <object width="350" height="263"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fgroups%2F1436374%40N23%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2F1436374%40N23%2Fpool%2F&group_id=1436374@N23&jump_to=&start_index="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fgroups%2F1436374%40N23%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2F1436374%40N23%2Fpool%2F&group_id=1436374@N23&jump_to=&start_index=" width="350" height="263"></embed></object>

    %h3 Who Runs the Festival

    .staff
      .photo <img src="/images/carlton.jpg" width="80" height="80" alt="Carlton" />
      .title <b>Carlton Evans</b>
      .blurb Executive Director and Co-Founder
      .email <a class="mailto" email="carlton" at="disposablefilmfest.com">Contact Carlton</a>

    .staff
      .photo <img src="/images/emily.jpg" width="80" height="80" alt="Katie" />
      .title <b>Emily Oestreicher</b>
      .blurb Director of Marketing and Events
      .email <a class="mailto" email="emily" at="disposablefilmfest.com">Contact Emily</a>

    .staff
      .photo <img src="/images/amber.jpg" width="80" height="80" alt="Amber" />
      .title <b>Amber Kaplan</b>
      .blurb  Public Relations
      .email <a class="mailto" email="amber" at="disposablefilmfest.com">Contact Amber</a>

    .staff
      .photo <img src="/images/tammy.jpg" width="80" height="80" alt="Tammy" />
      .title <b>Tammy Chang</b>
      .blurb Designer
      .email <a class="mailto" email="tammy" at="disposablefilmfest.com">Contact Tammy</a>

    .staff
      .photo <img src="/images/jamie.jpg" width="80" height="80" alt="Jamie" />
      .title <b>Jamie Lubiner</b>
      .blurb Engineer
      .email <a class="mailto" email="jamie" at="disposablefilmfest.com">Contact Jamie</a>
