---
layout: layout
title: Sponsors
---

%h1 Sponsors

%h3 Major Sponsors

.container
  .row
    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.11thhourproject.org/", target: "_blank"}
        %img.img-responsive{alt: "11th Hour Project", border: "0", height: "140", src: "/images/sponsors/11thhour.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.vimeo.com/", target: "_blank"}
        %img.img-responsive{alt: "Vimeo", border: "0", height: "70", src: "/images/sponsors/vimeo.png", width: "244"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.rickshawbags.com/", target: "_blank"}
        %img.img-responsive{alt: "Rickshaw Bags", border: "0", height: "140", src: "/images/sponsors/rickshaw.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://coverallcrew.com/", target: "_blank"}
        %img.img-responsive{alt: "Coverall Crew", border: "0", height: "35", src: "/images/sponsors/coverall.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://attendease.com/", target: "_blank"}
        %img.img-responsive{alt: "Attendease", border: "0", height: "41", src: "/images/sponsors/attendease.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.milesmaria.com/home.html", target: "_blank"}
        %img.img-responsive{alt: "Miles Maria", border: "0", height: "100", src: "/images/sponsors/milesmaria.png", width: "279"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://truemarketinggroup.com/", target: "_blank"}
        %img.img-responsive{alt: "True Marketing Group", border: "0", height: "108", src: "/images/sponsors/truemarketing.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "https://www.speckproducts.com/", target: "_blank"}
        %img.img-responsive{alt: "Speck", border: "0", height: "67", src: "/images/sponsors/speck.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://jrusten.com", target: "_blank"}
        %img.img-responsive{alt: "J. Rusten Furniture Studio", border: "0", height: "137", src: "/images/sponsors/jrfs.png", width: "240"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.pieranch.org", target: "_blank"}
        %img.img-responsive{alt: "Pie Ranch", border: "0", height: "96", src: "/images/sponsors/pieranch.png", width: "240"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://outpostfilm.com", target: "_blank"}
        %img.img-responsive{alt: "Outpost Film", border: "0", height: "198", src: "/images/sponsors/outpost.jpg", width: "200"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.seedandspark.com", target: "_blank"}
        %img.img-responsive{alt: "Seed and Spark", border: "0", height: "150", src: "/images/sponsors/seed_and_spark.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.cinematiq.com", target: "_blank"}
        %img.img-responsive{alt: "Cinematiq", border: "0", height: "110", src: "/images/sponsors/cinematiq.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.consulfrance-sanfrancisco.org", target: "_blank"}
        %img.img-responsive{alt: "French Consulate", border: "0", height: "250", src: "/images/sponsors/french-embassy.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.alemanyfarm.org", target: "_blank"}
        %img.img-responsive{alt: "Alemany Farm", border: "0", height: "188", src: "/images/sponsors/alemany-farm.jpg", width: "200"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://foragesf.com", target: "_blank"}
        %img.img-responsive{alt: "Forage SF", border: "0", height: "125", src: "/images/sponsors/foragesf.jpg", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://lyft.com", target: "_blank"}
        %img.img-responsive{alt: "Lyft", border: "0", height: "145", src: "/images/sponsors/lyft.png", width: "200"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.photojojo.com/", target: "_blank"}
        %img.img-responsive{alt: "Photojojo", border: "0", height: "103", src: "/images/sponsors/photojojo.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %img.img-responsive{alt: "Color A Go-Go", border: "0", height: "46", src: "/images/sponsors/color-a-gogo.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.purplewine.com/", target: "_blank"}
        %img.img-responsive{alt: "Purple Wine Company", border: "0", height: "189", src: "/images/sponsors/purple-wine.png", width: "200"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "https://typekit.com", target: "_blank"}
        %img.img-responsive{alt: "Adobe TypeKit", border: "0", height: "143", src: "/images/sponsors/typekit.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "mailto:info@disposablefilm.com"}
        %button.sponsor
          Want to be a part of a<br>great festival?
          %br
          Become a sponsor


%h3 Media Partners
.container
  .row
    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://thebolditalic.com/", target: "_blank"}
        %img.img-responsive{alt: "Bold Italic", border: "0", height: "100", src: "/images/sponsors/bolditalic.png", width: "260"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.noisepop.com/", target: "_blank"}
        %img.img-responsive{alt: "Noise Pop", border: "0", height: "165", src: "/images/sponsors/noisepop.png", width: "165"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.directorslive.com/", target: "_blank"}
        %img.img-responsive{alt: "Directors Live", border: "0", height: "140", src: "/images/sponsors/directors-live.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.bavc.org/", target: "_blank"}
        %img.img-responsive{alt: "Bay Area Video Coalition", border: "0", height: "140", src: "/images/sponsors/bavc.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://shootingpeople.org", target: "_blank"}
        %img.img-responsive{alt: "Shooting People", border: "0", height: "90", src: "/images/sponsors/shootingpeople_media.jpg", width: "242"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://cinemaspeakeasy.com/", target: "_blank"}
        %img.img-responsive{alt: "Cinema Speakeasy", border: "0", height: "165", src: "/images/sponsors/cinema_speakeasy.png", width: "280"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.sfstation.com/", target: "_blank"}
        %img.img-responsive{alt: "SF Station", border: "0", height: "49", src: "/images/sponsors/sfstation.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "mailto:info@disposablefilm.com"}
        %button.sponsor
          Looking for a great story?
          %br
          Become a media partner


%h3 Film Partners
.container
  .row
    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.sffs.org/", target: "_blank"}
        %img.img-responsive{alt: "San Franciso Film Society", border: "0", height: "57", src: "/images/sponsors/sffs.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.slamdance.com/", target: "_blank"}
        %img.img-responsive{alt: "Slamdance", border: "0", height: "109", src: "/images/sponsors/slamdance.png", width: "242"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://popmontreal.com/", target: "_blank"}
        %img.img-responsive{alt: "Pop Montreal", border: "0", height: "150", src: "/images/sponsors/pop_montreal.png", width: "151"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.explodingcinema.org/", target: "_blank"}
        %img.img-responsive{alt: "Exploding Cinema", border: "0", height: "152", src: "/images/sponsors/explodingcinema.png", width: "136"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.cambridgefilmfestival.org.uk/", target: "_blank"}
        %img.img-responsive{alt: "Cambridge Film Festival", border: "0", height: "143", src: "/images/sponsors/cambridge.jpg", width: "155"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.cinepocket.be/", target: "_blank"}
        %img.img-responsive{alt: "Cinepocket", border: "0", height: "142", src: "/images/sponsors/cinepocket.png", width: "152"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://lowellfilmcollaborative.org/", target: "_blank"}
        %img.img-responsive{alt: "Lowell Films", border: "0", height: "97", src: "/images/sponsors/lowell.png", width: "242"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.cinemaoutofyourbackpack.com/", target: "_blank"}
        %img.img-responsive{alt: "Cinema Out of Your Backpack Festival", border: "0", height: "150", src: "/images/sponsors/backpack_fest.png", width: "216"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.peacheschrist.com/?cat=16", target: "_blank"}
        %img.img-responsive{alt: "SAN FRANCISCO UNDERGROUND SHORT FILM FESTIVAL", border: "0", height: "90", src: "/images/sponsors/sf-underground.png", width: "240"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://sheffdocfest.com", target: "_blank"}
        %img.img-responsive{alt: "Sheffield Doc/Fest", border: "0", height: "154", src: "/images/sponsors/sheffield.jpg", width: "216"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://goodvibesquickies.com", target: "_blank"}
        %img.img-responsive{alt: "Quickies", border: "0", height: "111", src: "/images/sponsors/quickies_ixff_2013.jpg", width: "216"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://15secondphonefest.com", target: "_blank"}
        %img.img-responsive{alt: "15 Second Phone Fest", border: "0", height: "99", src: "/images/sponsors/15-sec-phone-film-fest.jpg", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://mobilefilmfestival.com", target: "_blank"}
        %img.img-responsive{alt: "Mobile Film Fest", border: "0", height: "73", src: "/images/sponsors/mobile-film-fest.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.solar1.org/", target: "_blank"}
        %img.img-responsive{alt: "Solar One", border: "0", height: "150", src: "/images/sponsors/solarone.png", width: "225"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://www.sesiff.org/", target: "_blank"}
        %img.img-responsive{alt: "Seoul International Extreme Short Image and Film Festival", border: "0", height: "169", src: "/images/sponsors/sesiff.jpg", width: "225"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "http://realfoodmedia.org", target: "_blank"}
        %img.img-responsive{alt: "Real Food Media Contest", border: "0", height: "39", src: "/images/sponsors/rfmc.png", width: "250"}/

    .col-md-4.col-xs-6.sponsor-image
      %a{href: "mailto:info@disposablefilm.com"}
        %button.sponsor
          Got an film organization and<br>want to partner with us?
          %br
          Become a partner


%h3 Become a Sponsor
.container
  .row
    There are many ways to support The Disposable Film Festival. Learn more about sponsorship.
    %br
    %a{href: "mailto:info@disposablefilm.com"} Contact the team