$dff-background: #fff;
$dff-nav-background: #4c4c4c;
$dff-light-background: #777777;
$dff-header: #6e6e6e;
$dff-foreground: #000;
$dff-divider: #cccccc;

$dff-blue: #45bcf9;

$grid-float-breakpoint: 1275px;
