@import 'constants';
@import 'mixins';

body
{
  color: $dff-foreground;
  background-color: $dff-background;

  margin: 0;
  padding: 0;

  .content
  {
    margin-top: 90px;

    .share-single
    {
      width: 100%;
      text-align: right;
    }
  }

  .secondary-navigation
  {
    font-size: 10px;
    height: 18px;
    background-color: #737676;
    color: #ccc;
    padding: 3px 0;

    .item
    {
      float: left;
      background-color: #737676;
      padding: 0 7px;

      &.on
      {
        background-color: #FF5B00;
      }
    }

    .separator
    {
      background-color: #737676;
      float: left;
    }
  }

  .footer
  {
    padding: 25px 0;
    width: 100%;
    background-color: black;

    nav
    {
      font-weight: bold;

      ul
      {
        margin: 0;
        padding: 0;

        li
        {
          text-transform: uppercase;
          display: inline-block;
          margin-right: 10px;

          a
          {
            &:hover
            {
              color: $dff-blue;
            }
          }
        }
      }
    }

    .dff-socials
    {
      margin: 20px 0;

      .dff-social
      {
        display: inline-block;

        a
        {
          i
          {
            font-size: 30px;
            width: 50px;
            border: 2px solid white;
            padding: 5px;
            text-align: center;
            margin-right: 5px;
          }

          &:hover
          {
            i
            {
              color: $dff-blue;
              border-color: $dff-blue;
            }
          }
        }
      }
    }

    .copyright
    {
      color: #ffffff;
      font-size: 11px;
    }

    a
    {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .social-media-icons
  {
    display: inline-block;

    .fb-like
    {
      top: -5px;
    }

    padding: 6px 0;
  }

  .singleton, .collection
  {
    .share-this
    {
      margin-top: 9px;
    }

    .post-body
    {
      margin: 24px 0 18px 0;

      img
      {
        margin: 15px 15px 0 0;
      }
    }

    .post-tags
    {
      float: right;
      padding-bottom: 18px;

      ul.tags
      {
        clear: both;

        li.tag
        {
          display: inline-block;
          font-size: 10px;
          list-style-image: none;
          list-style-type: none;
          text-transform: uppercase;
          padding: 4px;
          background-color: #999999;
          margin: 0 9px 9px 0;

          a
          {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .feature-image
    {
      display: inline-block;
      margin: 0 12px 12px 0;
      width: 300px;
      height: 200px;
      text-align: center;
      position: relative;

      a, a:hover, a:visited
      {
        color: #ffffff;
        text-decoration: none;
      }

      .title
      {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.498039);
        font-size: 15px;
        text-align: center;
        text-shadow: 2px 2px #000000;
        padding: 3px;
        width: 100%;
      }
    }
  }

  .photo
  {
    margin: 18px 0;

    img
    {
      width: 100%;
    }

    .credit
    {
      font-size: 10px;
    }
  }

  .staff
  {
    height: 120px;
    padding-bottom: 18px;

    .title
    {
      padding-bottom: 0px;
    }

    .photo
    {
      float: left;
      padding-right: 10px;
      margin: 0;
    }

    .email
    {
      padding-top: 18px;
    }
  }

  .footer
  {
    margin-top: 32px;
  }
}