@import 'constants';
@import 'mixins';

body
{
  color: $dff-foreground;
  background-color: $dff-background;
	font-family: "vera-sans", sans-serif;

  margin: 0;
  padding: 0;

  h3
  {
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: $dff-header;
    margin-top: 32px;
  }

  a
  {
    text-decoration: underline;
	  color: #000000;
  }

  a:hover
  {
	  color: #333333;
  }

  .clear
  {
    clear: both;
  }

  .sponsor-image
  {
    text-align: center;
    height: 286px;
    background-color: $dff-light-background;
    padding: 18px;
  }

  #site-header
  {
    height: 42px;
    background-color: #000;

    .logo
    {
      margin: 3px 0 0 6px;
    }

    .social-media
    {
      margin-top: 5px;
    }
  }

  .pod
  {
    a
    {
      color: #111111;
    }

    a:hover
    {
      color: #111111;
    }

    .jumbotron
    {
      margin-bottom: 0;
      color: #000000;
    }

    &.list
    {
      .jumbotron
      {
        background-image: url(/images/list.png);
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }

    &.sponsor
    {
      .jumbotron
      {
        background-color: pink;
      }
    }

    &.marketing
    {
      .jumbotron
      {
        background-color: #808080;
      }
    }

    margin-top: 18px;

    h2
    {
      text-align: center;
    }
  }

  .feature-posts
  {
    border-top: 1px solid $dff-divider;
    padding-top: 27px;

    a
    {
      text-decoration: none;
    }

    a:hover
    {
      text-decoration: underline;
    }

    margin-top: 32px;

    .feature-post
    {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid $dff-divider;

      .feature-thumb
      {
        width: 220px;
        height: 100px;
      }

      .feature-content
      {
        .feature-title
        {
          font-size: 21px;
          margin: 0 0 9px 0;
          font-weight: bold;
          line-height: 21px;
        }

        .feature-link
        {
          padding-top: 12px;
          text-align: center;
        }

        .feature-category
        {
          font-size: 12px;
          color: #aaaaaa;

          &.news
          {
            &:after
            {
              content:"News & Reviews";
            }
          }

          &.films
          {
            &:after
            {
              content:"Films";
            }
          }

          &.culture
          {
            &:after
            {
              content:"Culture & Creation";
            }
          }

          &.events
          {
            &:after
            {
              content:"Events";
            }
          }
        }
      }
    }
  }
  .film
  {
    a
    {
      color: #111111;
    }

    a:hover
    {
      color: #111111;
    }

    .jumbotron
    {
      margin-bottom: 0;
    }

    margin-top: 18px;

    h1
    {
      text-align: center;
    }
  }

  .carousel
  {
    .carousel-caption
    {
      position: relative;

      top: 0;
      left: 0;
      width: 100%;

      background-color: $dff-nav-background;
      padding: 10px;
      text-align: left;

      a
      {
        text-decoration: none;
      }

      a:hover
      {
        text-decoration: underline;
      }

      .category
      {
        font-size: 12px;
        float: right;
      }

      .title
      {
        font-size: 21px;
      }

      .link
      {
        color: #cccccc;
      }

      &.news
      {
        .category
        {
          &:after
          {
            content:"News & Reviews";
          }
        }
      }

      &.films
      {
        .category
        {
          &:after
          {
            content:"Films";
          }
        }
      }

      &.culture
      {
        .category
        {
          &:after
          {
            content:"Culture & Creation";
          }
        }
      }

      &.events
      {
        .category
        {
          &:after
          {
            content:"Events";
          }
        }
      }
    }

    .jumbotron
    {
      background-image: url(/images/navdots.png);
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    a
    {
      color: #ffffff;
    }

    a:hover
    {
      color: #ffffff;
    }

    margin-top: 18px;

    h1
    {
      text-align: center;
    }
  }

  .layout
  {
    position: fixed;
    top: 0px;
    height: 14px;
    width: 200px;
    text-align: center;
    background-color: #223567;
    color: #ccc;
    font-size: 9px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  #topbar
  {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 12px 0;
    background-color: #ffffff;


    #logo
    {
      margin-top: 12px;
    }
  }

  nav.navbar
  {
    margin-top: 113px;
    background-color: $dff-nav-background;
    color: $dff-background;
    border: 0;
    min-height: 0;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 11px;
    font-weight: bold;
    height: 24px;

    .navbar-collapse
    {
      border-top: 0;
      box-shadow: none;
      text-align: center;
    }

    ul.navbar-nav
    {
      display: inline-block;
      float: none;

      li
      {
        text-transform: uppercase;

        a
        {
          color: $dff-background;
          text-decoration: none;
          padding: 2px 15px;
        }

        a:hover
        {
          color: $dff-foreground;
          background-color: $dff-background;
        }

        &.active
        {
          a
          {
            color: $dff-foreground;
            background-color: $dff-background;
          }
        }
      }

      .dff-socials
      {
        .dff-social
        {
          display: inline-block;
          padding: 9px 15px;

          img
          {
            width: 32px;
          }
        }
      }
    }
  }

  .content
  {
    margin-top: 152px;

    .sidebar
    {
      width: 300px;
      margin-bottom: 24px;

      .twitter-widget
      {
        text-align: left;
      }

      .ad-728x90, .ad-300x250, .ads-skyscraper
      {
        padding: 18px 0 0 0;
        text-align: center;
      }

      .share
      {
        width: 100%;
        text-align: left;
      }

      .related-content
      {
        .related-post
        {
          margin-bottom: 9px;
          padding-bottom: 9px;
          border-bottom: 1px solid $dff-divider;

          .related-thumb
          {
            width: 110px;
            height: 50px;
          }

          .related-title
          {
            padding-left: 9px;

            a
            {
              text-decoration: none;
            }

            a:hover
            {
              text-decoration: underline;
            }
          }
        }
      }


    }

    .share-single
    {
      width: 100%;
      text-align: right;
    }
  }

  .secondary-navigation
  {
    font-size: 10px;
    height: 18px;
    background-color: #737676;
    color: #ccc;
    padding: 3px 0;

    .item
    {
      float: left;
      background-color: #737676;
      padding: 0 7px;

      &.on
      {
        background-color: #FF5B00;
      }
    }

    .separator
    {
      background-color: #737676;
      float: left;
    }
  }

  .footer
  {
    width: 100%;
    padding: 6px;
    font-size: 12px;
    text-align: center;
    background-color: #4C4C4C;
    color: #ffffff;

    .copyright
    {
      margin-top: 9px;
      float: right;
      font-size: 10px;
    }

    .about
    {
      float: left;
      font-weight: bold;
      margin-top: 9px;
    }

    a
    {
      color: #ffffff;
      text-decoration: none;
    }

    .dff-social
    {
      display: inline-block;
      padding-right: 18px;
    }
  }

  .social-media-icons
  {
    display: inline-block;

    .fb-like
    {
      top: -5px;
    }

    padding: 6px 0;
  }

  .singleton, .collection
  {
    .share-this
    {
      margin-top: 9px;
    }

    .image, .video
    {
      margin-top: 18px;
    }

    h1.title
    {
      margin-top: 18px;
    }

    .post-body
    {
      margin: 24px 0 18px 0;

      img
      {
        margin: 15px 15px 0 0;
      }
    }

    .post-tags
    {
      float: right;
      padding-bottom: 18px;

      ul.tags
      {
        clear: both;

        li.tag
        {
          display: inline-block;
          font-size: 10px;
          list-style-image: none;
          list-style-type: none;
          text-transform: uppercase;
          padding: 4px;
          background-color: #999999;
          margin: 0 9px 9px 0;

          a
          {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .feature-image
    {
      display: inline-block;
      margin: 0 12px 12px 0;
      width: 300px;
      height: 200px;
      text-align: center;
      position: relative;

      a, a:hover, a:visited
      {
        color: #ffffff;
        text-decoration: none;
      }

      .title
      {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.498039);
        font-size: 15px;
        text-align: center;
        text-shadow: 2px 2px #000000;
        padding: 3px;
        width: 100%;
      }
    }
  }

  .staff
  {
    height: 90px;
    padding-bottom: 18px;

    .title
    {
      padding-bottom: 0px;
    }

    .photo
    {
      float: left;
      padding-right: 10px;
    }

    .email
    {
      padding-top: 18px;
    }
  }
}