@import 'constants';
@import 'mixins';

.headline, .sponsor-headline
{
  border-bottom: 3px solid #000;
  margin-bottom: 20px;

  h2
  {
    text-transform: uppercase;
  }
}


body.page-sponsors
{
  .headline, .sponsor-headline
  {
    .become-a-sponsor
    {
      h3
      {
        display: inline-block;
        color: #000;
        font-weight: 400;
      }
    }
  }

  .sponsor-image
  {
    text-align: center;
    vertical-align: top;
    height: 286px;
    padding: 18px;
  }
}

body.page-press
{
  .article
  {
    margin-bottom: 18px;

    .text
    {
    }

    .publication
    {
    }
  }

  .press_release
  {
    margin-bottom: 12px;
  }

  h4
  {
    margin-top: 32px;
  }
}


body
{
  // POD STYLES (TO BE CLEANED UP)
  .pod
  {
    .jumbotron
    {
      margin-bottom: 0;
      color: #000000;
    }

    &.list
    {
      .jumbotron
      {
        background-image: url(/images/list.png);
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }

    &.sponsor
    {
      .jumbotron
      {
        background-color: pink;
      }
    }

    &.marketing
    {
      .jumbotron
      {
        background-color: #808080;
      }
    }

    margin-top: 18px;

    h2
    {
      text-align: center;
    }
  }
}
