---
layout: layout
---

<div class='tag-index'>
    <h1 class='title'>Posts by "{{ page.author }}"</h1>

    <div class="share-single">
      {% include share_this.html %}
    </div>

    <div class="feature-posts">
      {% for post in site.posts %}
        {% if post.author contains page.author %}
          <div class="feature-post">
            <div class="row">

              <div class="col-md-3">
                <a href='{{ post.url }}'>
                  <div class='feature-thumb' style = "background-image: url('{{ post.thumb  | asset_path }}')"></div>
                </a>
              </div>

              <div class="col-md-8">
                <div class='feature-content'>
                  <div class='feature-category {{ post.categories }}'></div>
                  <div class="feature-title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
                  <div class="feature-blurb">{{ post.blurb }}</div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>

    <div style="clear: both"></div>

  </div>