---
layout: layout
related: true
---
<div class='collection'>
  {% if page.video %}
  <div class='video'>
    <iframe class="marquee-video" src="{{ page.video | asset_path }}" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% else %}
  <div class='image img-responsive' style="width: 750px; height: 300px; background-image: url({{ page.image | asset_path }}); background-size: 100%;">
  </div>
  {% endif %}

  <div class="share-single">
    {% include share_this.html %}
  </div>

  <h1 class='title'>{{ page.title}}</h1>

  <div class='post-body collection'>
    {{ content }}
  </div>

  <div class="feature-posts">
    {% for post in site.posts %}
      {% for collection in post.collections %}
        {% capture collection_path %}_posts/{{ collection }}{% endcapture %}
          {% if collection_path == page.path %}
            {% include post_list.html %}
          {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  {% include tags.html %}

  <div style="clear: both"></div>
</div>
