---
layout: layout
---

<div class='carousel slide' data-ride='carousel' id='carousel-home'>
  <!-- Indicators -->
  <ol class='carousel-indicators'>
    {% assign counter=0 %}
    {% for post in site.tags.carousel %}
      {% if post.categories contains 'home' %}
        {% if counter == 0 %}
          <li class='active' data-slide-to='{{counter}}' data-target='#carousel-home'></li>
        {% else %}
          <li data-slide-to='{{counter}}' data-target='#carousel-home'></li>
        {% endif %}
        {% assign counter=counter | plus:1 %}
      {% endif %}
    {% endfor %}
  </ol>
  <!-- Wrapper for slides -->
  <div class='carousel-inner'>
    {% assign counter=0 %}
    {% for post in site.tags.carousel %}
      {% if post.categories contains 'home' %}
        {% if counter == 0 %}
          <div class="item active" onclick="document.location = '{{ post.url }}';return false;">
            <img src="{{ post.image | asset_path }}" alt="{{ post.title }}">
        {% else %}
          <div class='item' onclick="document.location = '{{ post.url }}';return false;">
           <img src="{{ post.image | asset_path }}" alt="{{ post.title }}">
        {% endif %}
            <div class='carousel-caption {{ post.categories }}'>
              <div class="title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
            </div>
          </div>
        {% assign counter=counter | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class='left carousel-control' data-slide='prev' href='#carousel-home'>
    <i class="fa fa-arrow-left"></i>
  </a>
  <a class='right carousel-control' data-slide='next' href='#carousel-home'>
    <i class="fa fa-arrow-right"></i>
  </a>
</div>

<div class="feature-posts">
  {% assign counter=0 %}
  {% for post in site.posts %}
    {% if (post.tags contains 'landingpage') and (post.categories contains 'home') %}
      {% assign counter=counter | plus:1 %}
      {% include post_list.html %}
    {% endif %}
  {% endfor %}
</div>


<script lang='javascript'>
  $('.carousel').carousel({interval: 4000});
</script>
