---
layout: layout
---
<div class="marquee">
  {% if page.video %}
  <div class='video'>
    <iframe class="marquee-video" src="{{ page.video }}" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% elsif page.image %}
  <div class='image'>
    <img class="img-responsive" src='{{ page.image | asset_path }}'>
  </div>
  {% endif %}
</div>

<div class="feature-posts post-body">
  {% assign counter=0 %}
  {% for post in site.posts %}
    {% if post.tags contains 'landingpage' and post.categories contains page.category %}
      {% assign counter=counter | plus:1 %}
      {% include post_list.html %}
    {% endif %}

  {% endfor %}
</div>

<script lang='javascript'>
  $('.carousel').carousel({interval: 4000});
</script>
