---
layout: layout
---

<div class='row'>
  <div class='col-md-8'>
    <div class="feature-posts">
      {% assign counter=0 %}
      {% for post in site.posts %}
        {% if counter < 9 and post.tags contains 'landingpage' and (page.category == 'all' or post.categories contains page.category) %}
          {% assign counter=counter | plus:1 %}
            <div class="feature-post">
              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <a href='{{ post.url }}'>
                      <div class='feature-thumb' style = "background-image: url('{{ post.thumb }}')"></div>
                    </a>
                  </div>

                  <div class="col-md-8">
                    <div class='feature-content'>
                      {% if page.category == 'all' %}
                        <div class='feature-category {{ post.categories | join: ' ' }}'></div>
                      {% endif %}
                      <div class="feature-title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
                      <div class="feature-content">{{ post.blurb }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}

      {% endfor %}
    </div>
  </div>

  <div class='col-md-4'>
    <div class="sidebar">
      {% include sponsor_sidebar1.html %}

      <h3>Stay up to DFFdate</h3>

      <div class="mailing-list">
        {% include mailing-list.html %}
      </div>

      <h3>Share the Love</h3>

      <div class="share">
        {% include share_this.html %}
      </div>

      {% if page.title == 'Home' %}
      <br>
      <div class="twitter-widget">
        {% include twitter.html %}
      </div>
      {% endif %}

      {% include sponsor_sidebar2.html %}
    </div>
  </div>
</div>

<script lang='javascript'>
  $('.carousel').carousel({interval: 4000});
</script>