---
layout: layout
---
<div class="marquee">
  {% if page.video %}
  <div class='video'>
    <iframe class="marquee-video" src="{{ page.video }}" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% elsif page.image %}
  <div class='image'>
    <img class="img-responsive" src='{{ page.image | asset_path }}'>
  </div>
  {% endif %}
</div>

<div class="feature-posts post-body">
  {% assign counter=0 %}
  {% for post in site.posts %}
    {% if post.tags contains 'landingpage' and (page.category == 'all' or post.categories contains page.category) %}
      {% assign counter=counter | plus:1 %}
        <div class="feature-post">
          <div class="row">

            <div class="col-xs-5 col-sm-4">
              <a href='{{ post.url }}'>
                <img class="img-responsive" src='{{ post.thumb | asset_path }}' width="220" height="100">
              </a>
            </div>

            <div class="col-xs-7 col-sm-8">
              <div class='feature-content'>
                {% if page.category == 'all' %}
                  <div class='feature-category {{ post.categories | join: ' ' }}'></div>
                {% endif %}
                <div class="feature-title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
                <div class="feature-blurb">{{ post.blurb }}</div>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

  {% endfor %}
</div>

<script lang='javascript'>
  $('.carousel').carousel({interval: 4000});
</script>
