\---
layout: layout
\---

.row
  .col-md-8
    #carousel-home.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        {% assign counter=0 %}
        {% for post in site.tags.featured %}

        {% if counter == 0 %}
        %li{"data-slide-to" => "{{counter}}", "data-target" => "#carousel-home", :class => 'active'}
        {% else %}
        %li{"data-slide-to" => "{{counter}}", "data-target" => "#carousel-home"}
        {% endif %}

        {% assign counter=counter | plus:1 %}
        {% endfor %}

      / Wrapper for slides
      .carousel-inner
        {% assign counter=0 %}
        {% for post in site.tags.featured %}

        {% if counter == 0 %}
        .item.active
        {% else %}
        .item
        {% endif %}
          %a{:href => '{{ post.url }}'}
            %img{:src => '{{ post.image }}'}
            .carousel-caption
              %h1 {{ post.title }}
        {% assign counter=counter | plus:1 %}
        {% endfor %}

      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-home"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-home"}
        %span.glyphicon.glyphicon-chevron-right

  {% for post in site.posts %}
  {% if post.tags contains 'featured' %}
  {% else %}
    .col-md-6
      .feature-image{:style => "background-image: url({{ post.image }}); background-position: center;"}
        %a{:href => "{{ post.url }}"}
          %h3 {{ post.title }}
  {% endif %}
  {% endfor %}

  .col-md-4
    %div{:style => "margin-top: 18px"}
      .pod.sponsor
        .jumbotron
          %h2 Sponsor Banner

      .pod.marketing
        .jumbotron
          %h2 Marketing Pod - Featured Item

      %br
      {% include twitter.html %}

%script{:lang => 'javascript'}
  $('.carousel').carousel({interval: 4000});
