<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title != "Home" %}Disposable Film - {{ page.title }}{% else %}Disposable Film{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.blurb %}
    <meta property="og:description" content="{{ page.blurb }}" />
    <meta property="twitter:description" content="{{ page.blurb }}" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="http://disposablefilm.com{{ page.image | asset_path }}" />
    <meta property="twitter:image" content="http://disposablefilm.com{{ page.image | asset_path }}" />
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="movie" />
    <meta property="og:url" content="http://disposablefilm.com{{ page.url }}" />
    <meta property="twitter:url" content="http://disposablefilm.com{{ page.url }}" />
    <meta property="og:site_name" content="Disposable Film" />
    <meta property="fb:admins" content="119121714828796"/>

    <!-- Custom CSS -->
    {% stylesheet application %}

    <!-- JS -->
    {% javascript application %}

    <link href='http://fonts.googleapis.com/css?family=Cantarell|Montserrat' rel='stylesheet' type='text/css'>

    {% if site.show_ads %}
      <!-- Google Adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    {% endif %}

  <body class="page-{{ page.title | downcase | replace:" ", "-" | replace:":","-" }}">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '119121714828796',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

      <div id="topbar">
        <div class="container">
          <div class="row">
            <div id="logo" class="col-sm-3 col-xs-6">
              <a href="/"><img class="img-responsive" height="64" class="logo" src="{{ 'logo-blue.png' | asset_path }}" border="0" alt="Disposable Film"></a>
            </div>
            <div class="col-sm-9 col-xs-6">
              <nav class="navbar" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-navicon"></i></button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav nav-justified">
                    <li class="item{% if page.url == '/index.html' %} active{% endif %}">
                      <a href="/" alt="Home">Home</a>
                    </li>

                    <li class="item{% if page.url contains '/submit/' %} active{% endif %}">
                      <a href="/submit" alt="Submit">Submit</a>
                    </li>

                    <li class="item{% if page.url == '/events/index.html' %} active{% endif %}">
                      <a href="/events" alt="Events">Events</a>
                    </li>

                    <li class="item{% if page.url == '/films/index.html' %} active{% endif %}">
                      <a href="/films" alt="Films">Films</a>
                    </li>

                    <li class="item{% if page.url == '/news/index.html' %} active{% endif %}">
                      <a href="/news" alt="News & Reviews">News</a>
                    </li>

                    <li class="item{% if page.url == '/culture/index.html' %} active{% endif %}">
                      <a href="/culture" alt="Culture & Creation"><nobr>Culture & Creation</nobr></a>
                    </li>

                    <li class="item">
                      <a href="http://disposablefilmfest.bigcartel.com" target="_blank" alt="DFF Merch Store" alt="Store">Store</a>
                    </li>

                    <li class="item{% if page.url == '/sponsors/index.html' %} active{% endif %}">
                      <a href="/sponsors" alt="Sponsors">Sponsors</a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

      <div class="container page">

        <div class='row'>
          {% if page.sidebar == false %}
            <div class='col-md-12'>
              {{ content }}
            </div>
          {% else %}
            <div class='col-md-8'>
              {{ content }}
            </div>
            {% include sidebar.html %}
          {% endif %}
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <nav>
                <ul>
                  <li><a href="/" alt="Home">Home</a></li>
                  <li><a href="/about/" alt="About Us">About Us</a></li>
                  <li><a href="/press/" alt="Press">Press</a></li>
                  <li><a href="/about/" alt="Contact Us">Contact Us</a></li>
                </ul>
              </nav>

              <div class="dff-socials">
                <div class="dff-social"><a href="http://www.facebook.com/pages/DISPOSABLE-FILM-FESTIVAL/31378810601" target="_blank"><i class="fa fa-facebook"></i></a></div>
                <div class="dff-social"><a href="http://twitter.com/DFFest" target="_blank" alt="Twitter"><i class="fa fa-twitter"></i></a></div>
                <div class="dff-social"><a href="http://instagram.com/disposablefilmfest" target="_blank"><i class="fa fa-instagram"></i></a></div>
                <div class="dff-social"><a href="https://vimeo.com/dff/" target="_blank"><i class="fa fa-vimeo-square"></i></a></div>
              </div>

              <div class="copyright">© Copyright 2014 Disposable Film Festival.</div>
            </div>
            <div class="col-md-8">
              {% include ad-728x90.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52017890-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
