<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>{% if page.title != "Home" %}{{ page.title }} - {% endif %}Disposable Film</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="">
      <meta name="description" content="">

      <!-- Custom CSS -->
      {% stylesheet application %}

      <!-- JS -->
      {% javascript application %}

  </head>

  <body class="page-{{ page.title | downcase }}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=119121714828796";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

      <div id="topbar">
        <div class="container">
          <div class="row">
            <div id="logo" class="col-md-4">
              <a href="/"><img class="img-responsive" height="64" class="logo" src="{{ 'logo-blue.png' | asset_path }}" border="0" alt="Disposable Film"></a>
            </div>
            <div class="col-md-8">
              <nav class="navbar" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav nav-justified">
                    <li class="item{% if page.url == '/index.html' %} active{% endif %}">
                      <a href="/" alt="Home">Home</a>
                    </li>

                    <li class="item{% if page.url contains '/submit/' %} active{% endif %}">
                      <a href="/submit" alt="Submit">Submit</a>
                    </li>

                    <li class="item{% if page.url == '/events/index.html' %} active{% endif %}">
                      <a href="/events" alt="Events">Events</a>
                    </li>

                    <li class="item{% if page.url == '/films/index.html' %} active{% endif %}">
                      <a href="/films" alt="Films">Films</a>
                    </li>

                    <li class="item{% if page.url == '/news/index.html' %} active{% endif %}">
                      <a href="/news" alt="News & Reviews">News</a>
                    </li>

                    <li class="item{% if page.url == '/culture/index.html' %} active{% endif %}">
                      <a href="/culture" alt="Culture & Creation">Culture</a>
                    </li>

                    <li class="item">
                      <a href="http://disposablefilmfest.bigcartel.com" target="_blank" alt="DFF Merch Store" alt="Store">Store</a>
                    </li>

                    <li class="item{% if page.url == '/sponsors/index.html' %} active{% endif %}">
                      <a href="/sponsors" alt="Sponsors">Sponsors</a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

      <!--
      <div class="row">
        <div class="col-md-12 ad-728x90">
          {% include ad-728x90.html %}
        </div>
      </div>
      -->

      <div class="container page">

        <div class='row'>
          <div class='col-md-8'>
            {{ content }}
          </div>

          <div class='col-md-4'>
            <div class="sidebar">
              {% include sponsor_sidebar1.html %}

              {% include social.html %}

              {% include sponsor_sidebar2.html %}
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="copyright">© Copyright 2014 Disposable Film Festival.</div>
          <div class="about">
            <a href="/about/" alt="About Us">About Us / Contact Us</a>
          </div>

          <div class="dff-socials">
            <div class="dff-social"><a href="http://www.facebook.com/pages/DISPOSABLE-FILM-FESTIVAL/31378810601" target="_blank"><img src="{{ 'icons/icon-facebook.png' | asset_path }}" height="32" width="32"></a></div>
            <div class="dff-social"><a href="http://twitter.com/DFFest" target="_blank" alt="Twitter"><img src="{{ 'icons/icon-twitter.png' | asset_path }}" height="32" width="32"></a></div>
            <div class="dff-social"><a href="http://statigr.am/disposablefilmfest" target="_blank"><img src="{{ 'icons/icon-instagram.png' | asset_path }}" height="32" width="32"></a></div>
            <div class="dff-social"><a href="https://pinterest.com/dffest/" target="_blank"><img src="{{ 'icons/icon-pinterest.png' | asset_path }}" height="32" width="32"></a></div>
            <div class="dff-social"><a href="https://vimeo.com/dff/" target="_blank"><img src="{{ 'icons/icon-vimeo.png' | asset_path }}" height="32" width="32"></a></div>
          </div>
        </div>
      </div>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Top MPU -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9204806821782483"
     data-ad-slot="2858942659"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </body>
</html>
